mixin alertSuccess(time=3000)
    if(messages.success)
        div(class="alert alert-success show-alert" show-alert=`${time}`) #{messages.success}

mixin alertError(time=3000)
    if(messages.error)
        div(class="alert alert-danger show-alert" show-alert=`${time}`) #{messages.error}
    