<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodTrack"
        tools:targetApi="tiramisu">
        <activity
            android:name=".Activity.Guest.cart"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.ad_main_activity"
            android:exported="true"></activity>
        <activity
            android:name=".Fragment.Guest.rating_comment"
            android:exported="false" />
        <activity
            android:name=".Fragment.Guest.product_detail"
            android:exported="false" />
        <activity
            android:name=".Fragment.Guest.list_chat_user"
            android:exported="false" />
        <activity
            android:name=".Activity.Guest.edit_profile"
            android:exported="false" />
        <activity
            android:name=".Activity.Guest.chang_password"
            android:exported="false" />
        <activity
            android:name=".Activity.Guest.phone_verify"
            android:exported="false" />
        <activity
            android:name=".Fragment.Guest.Home_Page"
            android:exported="false" />
        <activity
            android:name=".Fragment.Guest.Drink_fragment"
            android:exported="false" />
        <activity
            android:name=".Activity.Guest.forgot_password"
            android:exported="false" />
        <activity
            android:name=".Activity.Guest.Register"
            android:exported="false" />
        <activity
            android:name=".Activity.Guest.Login"
            android:exported="false" />
        <activity
            android:name=".Activity.Guest.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Guest.first_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>